/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Work Sans';
}

/* header start ------------------------------------------------ */
.header{
    padding: 50px 170px ;
    background: rgba(255, 144, 14, 0.1);
    width: 100%;
    height: 1220px;
}
/* nav ------------------------------------------------------- */
.nav-logo{
    font-weight: 300;
    font-size: 20px;
    color: #131313;
}
.nav-logo:hover{
    color: blue;
}
.nav-container{
    display: flex;
    justify-content: space-between;
}
.nav-container ul{
    display: flex;  
    margin-top: 10px;
}
.nav-container ul li{
    margin: 0 15px ;
    list-style: none;
}
.nav-container ul li a{
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;
    color: #424242;
    padding: 5px;
} 

.nav-container ul li a:hover{
    background-color: blue;
    color: white;
    border-radius: 10px;
}

/* banner ----------------------------------------------------- */

.banner-container{
     text-align: center;
     margin-top: 90px;
}
.banner-title{
    font-weight: 700;
    font-size: 50px;
    color: #131313;
}
.banner-desc{
    font-weight: 400;
    font-size: 16px;
    margin: 30px;
}
.btn-primary{
    width: 170px;
    height: 55px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    margin-bottom: 40px;
}
.btn-primary:hover{
    background-color: blue;
}
.banner-img img{
    width: 95%;
    height: 700px;   
}
/* main------------------------------------------------ */

/* our feature -------------------------------------- */
.main .our-feature{
    padding: 50px 240px ;
}
.our-feature{
    display: flex;
    gap: 150px;
}
.img-feature{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
} 
.img-feature .imgage img{
    width: 290px;
    height: 290px;
    border-radius: 8px;
    margin: 10px;
}
.img-feature .imgage img:hover{
    border: 3px solid blue;
}

.content-feature{
    margin-top: 180px;
}
.content-feature-title{
    font-weight: 500;
    font-size: 45px;
    color: #727272;
}
.content-feature-title span{
    color: red;
}
.content-feature-desc{
    font-weight: 400;
    font-size: 13px;
    color: #727272;
    margin: 25px 0;
}

/* feature-love----------------------------------------- */
.feature-love{
    padding: 70px 180px ;
    display: flex;
    justify-content: space-between;
}
.feature-love-content{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
.feature-love-title{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;
    padding: 0 15px ;
    color: #131313;
}
.feature-love-desc{
    margin: 15px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.feature-love-content .card{
    margin: 10px 0;
    background: #FFFFFF;
    box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.09);
    padding: 15px;
    border-radius: 8px;
}
.feature-love-content .card:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.feature-love-img{
    display: flex;
    flex-direction: column;
}
.feature-love-img img{
    width: 500px;
    height: 600px;
}

.feature-love-img .btn-primary-btn{
    margin-top: -90px;
    margin-left: -70px;
    width: 240px;
    height: 140px;
    font-weight: 700;
    font-size: 45px;
    background-color: #FF900E;
    border: none;
    color: #FFFFFF;
    text-align: center;
    border-radius: 8px;
}
.feature-love-img .btn-primary-btn span{
    font-weight: 300;
    font-size: 15px;
}

/* some-facts-------------------------------------------------- */
.some-facts{
    padding: 70px 150px;
}
.some-facts-title{
    font-weight: 700;
    font-size: 45px;
}
.some-facts-desc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 10px 0;
}
.some-facts-icons{
    display: flex;
    justify-content: space-between;
}
.some-facts-icons{
    padding: 0 30px 0 60px;
}
.icon-container{
    margin-top: 50px;
    box-sizing: border-box;
    width: 140px;
    height: 140px;
    border: 1px solid #FF900E;
    border-radius: 8px;
}
.icon img{
    width: 45.22px;
    height: 45.22px;
    margin-bottom: -15px;
}
.icon-container .icon{
    padding: 20px 45px;   
}
.icon-container h2{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    color: #424242;
}
.icon-container p{
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #727272;
}
.icon-container:hover{
    border: 2px solid red;
    background: #f9f7f7;
    box-shadow: 8px 12px 80px rgba(14, 12, 12, 0.09);
    transform: scale(1.1);
    transition: 0.3s;
}

/* our sponshpor--------------------------------------- */
.our-sponspors{
    padding: 70px 150px;
    text-align: center;
}
.our-sponspors-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
.our-sponspors-desc{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin: 20px;
}

.our-sponspors-icons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.our-sponspors-icons img{
    width: 166.76px;
    height: 50px;
}

.our-sponspors-icons img:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* footer-part--------------------------- */
.footer-part{
    padding: 70px 150px;
   
    
}
.footer{ 
    background: #FFF4E7;
    width: 1200px;
    height: 80px;
    border-radius: 8px;
}
.footer p{
    text-align: center;
    padding-top: 30px;
    font-weight: 400;
    font-size: 20px;
}


/*--------------------------------------------------------------- 
---------------------------Media queary------------------------- */

@media screen and (max-width:576px) {
    .header{
        padding: 50px 10px ;
        background: rgba(255, 144, 14, 0.1);
        width: 100%;
        height: 1100px;
    }
    .nav-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .nav-container ul li a{
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        padding: 5px;
    } 
    .nav-container ul li{
        margin: 0;  
    }
    .banner-img img{
        width: 95%;
        height: 400px;   
    }
    /* main ----------------------------- */
    /* our feature----------------- */
    .main .our-feature{
        padding: 1px 10px ;
        margin-top: -130px;
    }
   
    .our-feature{
        display: flex;
        flex-direction: column-reverse;
    }
    .img-feature{
        margin-top: -170px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    } 

    /* feature love---------------- */
    .feature-love{
        padding: 40px 10px ;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .feature-love-img img{
        width: 100%;
        height: 400px;
    }
    .feature-love-content .card{
        margin: 20px 10px;
        background: #FFFFFF;
        box-shadow: 2px 4px 30px rgba(0, 0, 0, 0.09);
        padding: 25px;
        border-radius: 8px;
    }
    .feature-love-content .card:hover{
        transform: scale(1.1);
        transition: 0.1s;
    }
    .feature-love-img .btn-primary-btn{
        margin-top: -90px;
        margin-left: 70px;
    }
    /* some fact------------------------- */
    .some-facts{
        padding: 10px 0px ;
        text-align: center;
    }
    .some-facts-icons{
        margin-left: -20px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    /* our sponspor ------------ */
    .our-sponspors{
        padding: 60px 10px;
        text-align: center;
    }
    .our-sponspors-icons{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2,1fr); 
        gap: 40px; 
    }
    .our-sponspors-icons img{
        width: 120px;
        height: 50px;
    }

    /* footer -------------------------------- */
    .footer-part{
        padding: 20px 20px;
       
        
    }
    .footer{ 
        background: #FFF4E7;
        width: 340px;
        height: 80px;
        border-radius: 8px;
    }
    .footer p{
        text-align: center;
        padding-top: 30px;
        font-weight: 500;
        font-size: 10px;
    }
}